@{
    ViewData["Title"] = "Rastgele";
}
@if(ViewBag.veri %2 == 0)
{
    <p style="background-color:blue">@ViewBag.veri</p>
}
else
{
    <p style="background-color:red">@ViewBag.veri</p>
}

<Google>

</Google>

<TC sayi="45"> </TC>
