@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome anasayfa</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Styles {
    <link href="~/css/anasayfa/index.css" rel="stylesheet" />
}

@section Scripts {
    <script type="text/javascript" src="~/js/anasayfa/index.js"></script>
}
