<a asp-controller="Oteller" asp-action="Create">Ekle</a>
<a asp-controller="Oteller" asp-action="Delete">Sil</a>
<a asp-controller="Oteller" asp-action="Update">Guncelle</a>
<a asp-controller="Oteller" asp-action="Create">Ekle</a>
