<div class="container-fluid">
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1 d-flex justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-dark me-3">Akdeniz Turları</a>
            </li>
        </ul>
    </div>
</div>
<div>
    <ul>
        <li>Antalya</li>
        <li>Mersin</li>
    </ul>
</div>
<div>

    <a class="nav-link text-dark me-3" asp-controller="YurticiTurları" asp-action="Index">Geri</a>

</div>
